.digital-museum__wrapper .digital-museum #wcontainer {
  padding: 3rem 0;
  min-width: unset !important;
}

.digital-museum__wrapper .digital-museum #wcontainer #wsearch-pages {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#wcontainer[data-cols="1"] #wsearch-pages {
  max-width: 148px;
}

#wcontainer[data-cols="2"] #wsearch-pages {
  max-width: 296px;
}

#wcontainer[data-cols="3"] #wsearch-pages {
  max-width: 444px;
}

#wcontainer[data-cols="4"] #wsearch-pages {
  max-width: 592px;
}

#wcontainer[data-cols="5"] #wsearch-pages {
  max-width: 740px;
}

#wcontainer[data-cols="6"] #wsearch-pages {
  max-width: 888px;
}

.digital-museum__wrapper .digital-museum #wcontainer #wsearch-pages .pages {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.digital-museum__wrapper .digital-museum #wcontainer #wsearch-pages .pages::before,
.digital-museum__wrapper .digital-museum #wcontainer #wsearch-pages .pages::after {
  content: "";
}

.digital-museum__wrapper .digital-museum #wcontainer #wsearch-pages .next,
.digital-museum__wrapper .digital-museum #wcontainer #wsearch-pages .prev {
  vertical-align: middle;
  margin: 0 5px;
}

.digital-museum__wrapper .digital-museum #wcontainer #wsearch-pages .next {
  position: relative;
  margin-left: auto;
  padding-right: 25px;
  margin-right: 15%;
}

.digital-museum__wrapper .digital-museum #wcontainer #wsearch-pages .next::before {
  content: "";
  position: absolute;
  right: 0;
  width: 20px;
  height: 25px;
  background: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: 20px 25px;
  background-position: 0 center;
}

.digital-museum__wrapper .digital-museum #wcontainer #wsearch-pages .prev {
  position: relative;
  padding-left: 25px;
  margin-right: auto;
  margin-left: 15%;
  transform: rotate(0deg);
}

.digital-museum__wrapper .digital-museum #wcontainer #wsearch-pages .prev::before {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 25px;
  background: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: 20px 25px;
  background-position: 0 center;
  transform: rotate(180deg);
}

.digital-museum__wrapper .digital-museum #wcontainer #wsearch-pages .next:hover,
.digital-museum__wrapper .digital-museum #wcontainer #wsearch-pages .prev:hover {
  text-decoration: underline;
}

.digital-museum__wrapper .digital-museum #wcontainer #wsearch-pages * {
  font-size: 1rem;
}

.digital-museum__wrapper .digital-museum #wcontainer #wsearch-result>p {
  font-size: 1rem;
}

.digital-museum__wrapper .digital-museum #wcontainer .wsearch-input {
  font-size: 1rem;
}

.digital-museum__wrapper .digital-museum #wcontainer #wsearch-result>p>a {
  font-size: 1rem;
  text-decoration: underline;
}

.digital-museum__wrapper .digital-museum #wcontainer .wrows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.digital-museum__wrapper .digital-museum #wcontainer * {
  font-family: 'Cera Pro', sans-serif;
}

.digital-museum__wrapper .digital-museum #wheader {
  height: 112px
}

.digital-museum__wrapper .digital-museum #wcontainer .wsearch-submit {
  border: none;
  top: 14px;
  width: 25px;
}

.digital-museum__wrapper .digital-museum #wcontainer .wsearch-submit:focus {
  outline: 1px solid #000;
}

.digital-museum__wrapper .digital-museum #wcontainer[data-layout="green-light"] {
  background: #f1f2f0
}

.digital-museum__wrapper .digital-museum #wcontainer[data-layout="green"] {
  background: #c6c7c4
}

.digital-museum__wrapper .digital-museum #wcontainer[data-layout="grey-light"] {
  background: #f5f7f8
}

.digital-museum__wrapper .digital-museum #wcontainer[data-layout="blue-light"] {
  background: #e2e6e9
}

.digital-museum__wrapper .digital-museum #wcontainer[data-layout="beige-light"] {
  background: #ede9e8
}

.digital-museum__wrapper .digital-museum #wcontainer[data-layout="beige"] {
  background: #e3ddd8
}

@media (max-width: 888px) {
  .digital-museum__wrapper .digital-museum {
    height: unset !important;
  }
}

@media (max-width: 400px) {
  .digital-museum__wrapper .digital-museum #wcontainer #wsearch-pages * {
    font-size: .8rem;
  }
  .digital-museum__wrapper .digital-museum #wcontainer #wsearch-pages .next {
    margin-right: 5%;
  }
  .digital-museum__wrapper .digital-museum #wcontainer #wsearch-pages .prev {
    margin-left: 5%;
  }
  .digital-museum__wrapper .digital-museum #wcontainer #wsearch-pages .prev {
    padding-left: 18px;
  }
  .digital-museum__wrapper .digital-museum #wcontainer #wsearch-pages .next {
    padding-right: 18px;
  }
  .digital-museum__wrapper .digital-museum #wcontainer #wsearch-pages .prev::before {
    width: 14px;
    height: 18px;
    background-size: 14px 18px;
  }
  .digital-museum__wrapper .digital-museum #wcontainer #wsearch-pages .next::before {
    width: 14px;
    height: 18px;
    background-size: 14px 18px;
  }
}